* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    font-family: sans-serif;
    background-color: #ECFF92;
  }
  
header {
    display: flex;
    justify-content: center;
    position:absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto; 
}

h1 {
    font-size: 10vw;
    line-height: 1;
    font-weight: bold;
    color: #c099ea;
    transition-duration: 0.4s;
    max-width: 50%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

h1:hover {
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #00ABD0;
  }
  
p { 
    font-size: 3vw;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ABD0;
    max-width: 50%;
    margin-top: 25vw;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

p:hover {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c099ea;
    text-shadow: 1px 1px 50px #00ABD0aa;
  }

/* MENU BUTTON .CIRCLE */

.circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border: 7px solid #00ABD0;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.circle:hover {
    border: 7px solid #c099ea;
}

.circle:hover .menu-content {
    display: block;
    /* margin-right: 50%; */
}

.menu-content {
    display: none;
    position: absolute;
    background-color: transparent;
    padding: 10px;
    margin: 20%;
    width: 200px;
    right: 30px;
    top: 30px;
    z-index: 3;
}

.menu-content h2 {
    margin-top: 0;
    font-size: 2vw;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ABD0;
    text-transform: uppercase;
}

.menu-content a {
    display: block;
    margin: 10px 0;
    color: #c099ea;
    text-decoration: none;
    text-align: right;
    transform-origin: right;
    transition: transform 0.5s;
}

.menu-content a:hover {
    text-decoration: none;
    transform: scale(1.5);
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #c099ea;
}

span {
  font-size: 0.7vw;
} 

hr {
   border: none; 
   height: 1px;   
   background-color: #00ABD0;
}      

.menu-content a.sayHello {
  font-size: 2vw;
  color: #00ABD0;
  text-decoration: none;
  text-align: right;
  transform-origin: right;
  transition: transform 0.5s;
}

.menu-content a.sayHello:hover {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00ABD0;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #ECFF92; /* Track background color */
}

::-webkit-scrollbar-thumb {
  background: #c099ea; /* Thumb color */
  border-radius: 5px; /* Rounded corners on the thumb */
}