
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECFF92;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 100px;
    font-size: 50px;
}

.hello {
    margin-top: 100px;
}

input,
button {
    padding: 0.5rem;
    border: 1.5px solid black;
    border-radius: 0.25rem;
    background-color: transparent;
    font-size: 1rem;
    transition: background-color 0.25s;
    margin: 10px;
}

input:hover,
input:focus,
button:hover,
button:active {
    background-color: #00ABD080;
}

button {
    cursor: pointer;
}

::placeholder {
    color: black;
}


.message {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;
}

.message.visible {
    opacity: 1;
    pointer-events: all;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 50vw; */
}

/* .messageBox {
    height: 100px;
} */



/*  BACK BUTTON  */

.back-button {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 24px;
    color: black;
    text-decoration: none;
  }