body {
    text-align: center;
}

/*  BACK BUTTON  */

.back-button {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 24px;
    color: black;
    text-decoration: none;
  }